html {
  font-family: "Noto Sans JP", "Roboto", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.englich-text {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ----- メインビジュアル ----- */
.fv_section {
  background-image: url("../img/Group_183.png");
  height: 840px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo_img {
  width: 186.78px;
  height: 48.6px;
  margin-top: 14px;
  margin-left: 40px;
}

.main_container {
  /* background-color: rgb(238, 233, 228); */
  width: 960px;
  margin: 0 auto;
}

.sub_title {
  margin-top: 29px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-right: 4px;
  color: #fff;
}

.main_visual_img_content {
  text-align: center;
  margin-top: 43px;
}

.main_visual_img {
  width: 562px;
  height: 256.24px;
}

.sub_visual_img {
  width: 517px;
  height: 56.34px;
  margin-top: 25px;
}

.sub_visual_img_sp.hidden {
  display: none;
}

.date_content {
  text-align: center;
  margin-top: 10px;
  padding-left: -1px;
}

.date_text,
.timeStart_text,
.timeEnd_text {
  font-family: "Roboto";
  font-size: 45.87px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.dayOfWeek_text {
  font-family: "Roboto";
  font-size: 33.36px;
  font-weight: 700;
  margin-left: 11px;
  margin-right: 4px;
  color: #fff;
}

.timeStart_text {
  letter-spacing: -0.03em;
}

.locationText_content {
  text-align: center;
  margin-top: 4px;
}

.kokusai_text,
.hole_text {
  font-size: 29.19px;
  font-weight: bold;
  color: #fff;
}

.hole_text {
  margin-left: 13px;
}

/* ----- ﾎﾞﾀﾝ ----- */
.button_content {
  text-align: center;
  margin-top: 50px;
}

.button_text {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  padding: 12px 15px 16px 16px;
  background-color: #06c755;
  border: solid 2px #fff;
  border-radius: 33px;
}

.jizen_text {
  position: relative;
  left: 15px;
}

.muryo_text {
  position: relative;
  left: 5px;
}

.line_img {
  width: 57px;
  height: 57px;
  vertical-align: middle;
  position: relative;
  right: 5px;
}
/* ----------- */

/* ----- ﾌﾘｰﾗﾝｽｻﾐｯﾄとは？ ----- */

.main_container.freelance {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.freelance_section {
  background-image: url("../img/Group\ 185.svg");
  height: 1465px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.freelanceTitle_content {
  margin-top: 33px;
}

.freelance_h2 {
  font-family: 'Roboto';
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  margin-left: -5px;
  /* color: #81D7FC; */
}

.freelance_text {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8px;
  margin-left: -2px;
}

.line_left,
.line_right {
  display: inline-block;
  width: 29px;
  height: 2px;
  background-color: #444545;
  margin: 1px 22px 0 14px;
}

.summitText_content {
  width: 617px;
  margin-top: 56px;
  text-align: center;
  }

.summit_text {
  font-size: 22px;
  font-weight: 700;
  line-height: 45px;
  color: brown;
}

.summitDetailText_content {
  margin-top: 40px;
}

.summitDetail_text {
  font-size: 18px;
  font-weight: 500;
  line-height: 45px;
  color: brown;
}

.side_button {
  border: none;
  writing-mode: vertical-rl;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 132px;
  padding-right: 6px;
}

.side_button_text {
  background-color: #06c755;
  padding: 21px 15px 0px 17px;
  letter-spacing: 5px;
  border-radius: 8px 0 0 8px;
  padding-bottom: 0px;
}

.side_line_img {
  width: 52px;
  height: 52px;
  margin-top: -9px;
  margin-bottom: 12px;
}

@media screen and (max-width: 1000px) {
  .main_container {
    width: 570px;
  }
}

@media screen and (max-width: 580px) {
  .fv_section {
    height: 461px;
  }

  .logo_img {
    width: 76.6px;
    height: 19.93px;
    margin-top: 12px;
    margin-left: 12px;
  }

  .main_container {
    width: 330px;
  }

  .sub_title {
    margin-top: 34px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-right: 1px;
  }

  .main_visual_img_content {
    text-align: center;
    margin-top: 23px;
  }

  .main_visual_img {
    width: 302px;
    height: 145.61px;
  }

  .sub_visual_img {
    display: none;
  }

  .sub_visual_img_sp.hidden {
    display: inline-block;
    width: 257px;
    height: 24.15px;
    margin-top: 11px;
  }

  .date_content {
    margin-top: 14px;
    padding-left: 0px;
  }

  .date_text,
  .timeStart_text,
  .timeEnd_text {
    font-size: 24.95px;
  }

  .date_text {
    position: relative;
    left: 2px;
  }

  .dayOfWeek_text {
    font-size: 18.15px;
    position: relative;
    right: 2px;
  }

  .timeStart_text {
    position: relative;
    right: 3px;
  }

  .timeEnd_text {
    position: relative;
    right: 3px;
  }

  .locationText_content {
    margin-top: 2px;
  }

  .kokusai_text,
  .hole_text {
    font-size: 15.88px;
  }

  .kokusai_text {
    margin-right: -6px;
  }

  .button_content {
    display: none;
  }
}
