html {
  font-family: "Noto Sans JP", "Roboto", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.englich-text {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ----- メインビジュアル ----- */

.fv_section {
  background-image: url("../img/Group_183.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 2880 / 1684;
  width: 100%;
}

.fv_sp_section.hidden {
  display: none;
}

.logo_img {
  width: 186.78px;
  height: 48.6px;
  margin-top: 14px;
  margin-left: 40px;
}

.main_container {
  background-color: rgb(238, 233, 228);
  width: clamp(1px, 66.6vw, 959.04px);
  height: auto;
  margin: 0 auto;
}

.sub_title {
  margin-top: 29px;
  text-align: center;
  font-size: clamp(1px, 1.94vw, 28px);
  font-weight: bold;
  margin-right: 4px;
  color: #fff;
}

.main_visual_img_content {
  text-align: center;
  margin-top: 43px;
}

.main_visual_img {
  width: 562px;
  height: 256.24px;
}

.sub_visual_img {
  width: 517px;
  height: 56.34px;
  margin-top: 25px;
}

.sub_visual_img_sp.hidden {
  display: none;
}

.date_content {
  text-align: center;
  margin-top: 10px;
  padding-left: -1px;
}

.date_text,
.timeStart_text,
.timeEnd_text {
  font-family: "Roboto";
  font-size: clamp(1px, 3.185vw, 45.864px);
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.dayOfWeek_text {
  font-family: "Roboto";
  font-size: clamp(1px, 2.316vw, 33.36px);
  font-weight: 700;
  margin-left: 11px;
  margin-right: 4px;
  color: #fff;
}

.timeStart_text {
  letter-spacing: -0.03em;
}

.locationText_content {
  text-align: center;
  margin-top: 4px;
}

.kokusai_text,
.hole_text {
  font-size: clamp(1px, 2.027vw, 29.19px);
  font-weight: bold;
  color: #fff;
}

.hole_text {
  margin-left: 13px;
}

/* ----- ﾎﾞﾀﾝ ----- */
.button_content {
  text-align: center;
  margin-top: 50px;
}

.button_text {
  font-size: clamp(1px, 1.66vw, 24px);
  font-weight: 700;
  color: #fff;
  padding: 12px 15px 16px 16px;
  background-color: #06c755;
  border: solid 2px #fff;
  border-radius: 33px;
}

.jizen_text {
  position: relative;
  left: 15px;
}

.muryo_text {
  position: relative;
  left: 5px;
}

.line_img {
  width: 57px;
  height: 57px;
  vertical-align: middle;
  position: relative;
  right: 5px;
}
/* ----------- */

/* ----- ﾌﾘｰﾗﾝｽｻﾐｯﾄとは？ ----- */

.freelance_section {
  background-image: url("../img/Group\ 185.svg");
  height: 104.375vw;
  background-position: 0px -1.388vw;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1440 / 1502;
  width: 100%;
  position: relative;
  margin-bottom: 8.75vw;
  background-color: violet;
}

.main_container_freelance {
  width: clamp(1px, 68.75vw, 990px);
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* background-color: chocolate; */
}

.title_content {
  margin-top: clamp(1px, 2.2916vw, 32.999px);
}

.title_h2 {
  font-family: "Roboto";
  font-size: clamp(1px, 4.166vw, 60px);
  font-weight: 700;
  font-style: italic;
  margin-left: clamp(-99px, -0.3472vw, -4.99px);
  /* color: #81D7FC; */
}

.subTitle_text {
  font-size: clamp(0px, 1.25vw, 18px);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: clamp(-99px, 0.416vw, 5.99px);
  margin-left: clamp(-99px, -0.138vw, -1.9872px);
}

.line_left,
.line_right {
  display: inline-block;
  width: clamp(-99px, 2.0138vw, 28.99872px);
  height: clamp(-99px, 0.138vw, 1.9872px);
  background-color: #444545;
  margin-top: clamp(-99px, 0.0694vw, 0.99px);
  margin-right: clamp(-99px, 1.527vw, 21.9px);
  margin-bottom: 0px;
  margin-left: clamp(-99px, 0.972vw, 13.99px);
}

.summitText_content {
  width: clamp(-99px, 42.8472vw, 616.99px);
  margin-top: clamp(-99px, 3.88vw, 55.872px);
  text-align: center;
}

.summit_text {
  font-size: clamp(-99px, 1.527vw, 21.98px);
  font-weight: 700;
  line-height: clamp(-99px, 3.125vw, 45px);
  color: brown;
}

.summitDetailText_content {
  width: clamp(-99px, 66.66vw, 959.904px);
  margin-top: clamp(-99px, 2.77vw, 39.888px);
}

.summitDetail_text {
  font-size: clamp(1px, 1.25vw, 18px);
  font-weight: 500;
  line-height: clamp(1px, 3.125vw, 45px);
  color: brown;
}

.side_button {
  border: none;
  writing-mode: vertical-rl;
  font-size: clamp(1px, 1.5277vw, 22px);
  font-weight: bold;
  text-align: center;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: clamp(1px, 9.027vw, 129.98px);
  padding-right: clamp(-99px, 0.416vw, 5.99px);
}

.side_button_text {
  background-color: #06c755;
  padding-top: clamp(1px, 1.4583vw, 20.99px);
  padding-right: clamp(1px, 1.0416vw, 14.99px);
  padding-bottom: 0px;
  padding-left: clamp(1px, 1.1805vw, 16.99px);
  letter-spacing: clamp(-99px, 0.347vw, 4.99px);
  border-radius: 8px 0 0 8px;
  padding-bottom: 0px;
}

.side_line_img {
  width: clamp(1px, 3.61vw, 52px);
  height: clamp(1px, 3.61vw, 52px);
  margin-top: clamp(-99px, -0.625vw, -9px);
  margin-bottom: clamp(-99px, 0.833vw, 11.99px);
}

/* ----- Summaryセクション ----- */
.title_content.summary {
  text-align: center;
  margin-top: clamp(1px, 11.0416vw, 158.99px);
}

.subTitle_text.event {
  margin: 0;
  margin-top: clamp(-99px, 0.4861vw, 6.99px);
}

.line_left.event {
  margin: 0;
  margin-right: clamp(-99px, 2.0138vw, 28.99px);
  margin-left: clamp(-99px, 1.805vw, 25.99px);
}

.line_right.event {
  margin: 0;
  margin-left: clamp(-99px, 2.361vw, 33.99px);
  margin-right: clamp(-99px, 2.4305vw, 34.99px);
}

.summaryDetail_content {
  display: flex;
  align-items: center;
  margin-top: clamp(-99px, 3.9583vw, 56.99px);
}

.summaryDetail_title {
  font-size: clamp(1px, 1.527vw, 22px);
  font-weight: bold;
  color: red;
  border: solid 2px red;
  /* color: #FDD35C; */
  /* border: solid 2px #FDD35C; */
  text-align: center;
  width: clamp(1px, 11.8055vw, 169.99px);
  height: clamp(1px, 3.472vw, 49.99px);
  line-height: clamp(1px, 3.33vw, 47.952px);
  border-radius: 40px;
  position: relative;
  right: clamp(-99px, -0.55vw, -7.92px);
}

.summaryDetail_detail {
  font-size: clamp(1px, 1.527vw, 22px);
  font-weight: bold;
  color: blue;
  margin-top: clamp(-99px, 0.138vw, 1.9872px);
}

.start_text {
  position: relative;
  right: clamp(-99px, -1.8055vw, -25.99px);
}

.kaijou_text {
  position: relative;
  right: clamp(-99px, -1.875vw, -27px);
}

.end_text {
  position: relative;
  right: clamp(-99px, -2.2916vw, -32.99px);
}

.jikan.hidden {
  display: none;
}

.uketuke.hidden {
  display: none;
}

.border_dot {
  display: block;
  width: clamp(1px, 68.05vw, 960px);
  height: clamp(-99px, 0.0694vw, 1px);
  border-bottom: dotted clamp(-99px, 0.0694vw, 1px) red;
  margin-top: clamp(1px, 2.361vw, 33.99px);
}

.summaryDetail_content.kaijou {
  margin-top: clamp(1px, 2.4305vw, 34.99px);
}

.forum_text {
  position: relative;
  right: clamp(-99px, -1.805vw, -25.99px);
}

.holee2_text {
  position: relative;
  right: clamp(-99px, -2.5694vw, -36.99px);
}

.summaryDetail_detail_sp.hidden {
  display: none;
}

.summaryDetail_content.event {
  margin-top: clamp(-99px, 2.083vw, 29.99px);
}

.busu_content {
  margin-left: clamp(-99px, 1.875vw, 27px);
  position: relative;
  top: clamp(-99px, 1.0416vw, 14.99px);
}

.bisines_text.hidden {
  display: none;
}

.border_dot.busu {
  margin-top: clamp(-99px, 3.88vw, 55.872px);
}

.summaryDetail_content.taishou {
  margin-top: clamp(-99px, 2.4305vw, 34.99px);
}

.summaryDetail_title.taishou {
  margin-right: clamp(-99px, 1.875vw, 27px);
}

.summaryDetail_detail.keiei {
  margin-top: clamp(-99px, -0.138vw, -1.972px);
}

.keieisya.hidden,
.siritu.hidden {
  display: none;
}

.syasen {
  margin-left: clamp(-99px, 0.694vw, 9.99px);
  position: relative;
  right: clamp(-99px, 0.347vw, 4.99px);
}

.summaryDetail_content.access {
  align-items: start;
  margin-top: clamp(-99px, 2.5vw, 36px);
}

.summaryDetail_title.access {
  margin-top: clamp(-99px, -0.138vw, -1.9872px);
}

.moyori_content {
  margin-left: clamp(-99px, 1.805vw, 25.99px);
}

.moyori_text {
  font-size: clamp(1px, 1.527vw, 22px);
  font-weight: bold;
  position: relative;
  top: clamp(-99px, 0.2083vw, 2.99px);
  margin-bottom: clamp(-99px, 0.625vw, 9px);
}

.dot {
  display: inline-block;
  width: clamp(-99px, 0.694vw, 9.99px);
  height: clamp(-99px, 0.694vw, 9.99px);
  background-color: red;
  border-radius: 50%;
}

.mini_text {
  font-size: clamp(1px, 0.972vw, 14px);
  font-weight: 500;
}
.mini_text.title {
  margin-left: clamp(-99px, 0.277vw, 3.98px);
}

.mini_text.eki {
  margin-left: clamp(-99px, 1.0416vw, 14.99px);
}

.mini_text.title.tika {
  margin-top: clamp(-99px, 0.4861vw, 6.99px);
}

.eki_text {
  position: relative;
  left: clamp(-99px, 0.3472vw, 4.99px);
}

iframe {
  margin-left: clamp(-99px, 1.1805vw, 16.99px);
  width: clamp(1px, 26.38vw, 380px);
  height: clamp(1px, 16.3194vw, 235px);
}

.iframe_content.hidden {
  display: none;
}

/* ----- コンテンツセクション ----- */
.contents_section {
  width: 100vw;
  height: 56.53vw;
  /* background-color: #FFF6DE; */
  background-color: aquamarine;
}

.title_content.contens {
  /* background-color: #06c755; */
  text-align: center;
  position: relative;
  top: clamp(-99px, 5.07vw, 73px);
}
.title_h2.contens {
  text-align: center;
}

.event_text.contens {
  position: relative;
  top: clamp(-99px, 0.07vw, 1.008px);
  left: clamp(-99px, -0.28vw, -4.032px);
}

.flex {
  display: flex;
  justify-content: center;
  gap: clamp(-99px, 6.04vw, 86.976px);
  margin-top: clamp(-99px, 9.03vw, 130px);
}

.square {
  /* border: solid 3px #FDD35C; */
  border: solid 3px red;
  width: clamp(1px, 30vw, 432px);
  height: clamp(1px, 25.69vw, 369.936px);
  border-radius: clamp(-99px, 0.69vw, 9.936px);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.heading_text_content {
  width: clamp(-99px, 30vw, 432px);
  height: clamp(-99px, 3.82vw, 55px);
  /* background-color: #FDD35C; */
  background-color: red;
  border-radius: 0.28vw 0.28vw 0 0;
}

.heading_text {
  font-size: clamp(-99px, 1.67vw, 24px);
  font-weight: bold;
  text-align: center;
  margin-top: clamp(-99px, 0.69vw, 9.936px);
}

.fukidashi_text {
  font-size: clamp(-99px, 0.97vw, 14px);
  font-weight: 500;
  margin-right: clamp(-99px, 0.83vw, 11.952px);
  margin-top: clamp(-99px, 0.97vw, 13.968px);
}

.fukidashi_img {
  width: clamp(1px, 16.18vw, 231px);
  height: clamp(1px, 2.43vw, 33px);
  margin-right: clamp(-99px, 0.56vw, 8.064px);
  margin-top: clamp(-99px, -0.28vw, 4.032px);
}

.fukidashi_img.hidden {
  display: none;
}

.number_text {
  font-family: "Roboto";
  font-size: clamp(1px, 3.33vw, 48px);
  font-weight: 600;
  font-style: italic;
}

.explanation_content {
  margin-top: clamp(-99px, -1.04vw, -14.976px);
  margin-left: clamp(-99px, 0.21vw, 3.024px);
}

.explanation_text {
  font-size: clamp(1px, 1.94vw, 28px);
  font-weight: bold;
}

.explanation_img {
  width: clamp(1px, 23.61vw, 340px);
  height: clamp(1px, 12.5vw, 180px);
  margin-top: clamp(-99px, 0.63vw, 9.072px);
}

.explanation_content.gouka {
  margin-top: 0px;
}

.explanation_img.gouka {
  margin-top: clamp(-99px, 0.83vw, 11.952px);
  margin-left: clamp(-99px, 0.42vw, 6.048px);
}

.button_content.contents {
  margin-top: clamp(-99px, 4.58vw, 65.952px);
}

/* ----- ピックアップセクション ----- */
.pickUp_section {
  margin-top: clamp(-99px, -0.0694vw, -0.99px);
  /* background-color: aqua; */
}

.flex_between.pickUp {
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
}

.side_bar {
  width: 3.4722vw;
  height: 43.4722vw;
  background-color: #06c755;
  /* background-color: #FDD35C; */
}

.title_content.pickUp {
  text-align: center;
  /* margin-top: clamp(-99px, 2.777vw, 39.98px); */
  margin-top: 2.777vw;
  margin-left: clamp(-99px, 0.2083vw, 2.99px);
}

.subTitle_text.pickUp {
  margin-top: clamp(-99px, 0.833vw, 11.99px);
  margin-right: clamp(-99px, 0.6944vw, 9.99px);
}

.line_left.pickUp {
  position: relative;
  left: clamp(-99px, -0.625vw, -9px);
}

.line_right.pickUp {
  position: relative;
  right: clamp(-99px, -1.111vw, -15.99px);
}

.flex.company {
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: flex-start;
  margin-top: clamp(-99px, 2.2916vw, 32.99px);
}

.logo_img_content {
  width: clamp(-99px, 21.38vw, 307.872px);
}

.logo_img.oplan {
  width: clamp(1px, 7.65625vw, 110.25px);
  height: clamp(1px, 2.083vw, 30px);
  margin: 0;
  margin-left: clamp(-99px, 6.11vw, 87.984px);
}

.company_text {
  width: clamp(1px, 46.527vw, 670px);
  font-size: clamp(1px, 1.11vw, 16px);
  font-weight: 500;
}

.company_text.oplan {
  margin-top: clamp(-99px, 0.0694vw, 0.99px);
  margin-bottom: clamp(-99px, 0.0694vw, 0.99px);
}

.link_text {
  font-size: clamp(-99px, 1.11vw, 16px);
  font-weight: 500;
}

.link_text.oplan {
  color: #000000;
  margin-left: clamp(-99px, 0.4861vw, 6.99px);
  text-decoration: underline;
}

.logo_img.peBank {
  width: clamp(1px, 15.4861vw, 223px);
  height: clamp(1px, 1.3194vw, 19px);
  margin: 0;
  margin-left: clamp(-99px, 2.22vw, 31.968px);
  margin-top: clamp(-99px, 0.3472vw, 4.99px);
}

.company_text.peBank {
  margin-top: clamp(-99px, -0.555vw, 7.992px);
}

.flex.company.boc {
  margin-top: clamp(-99px, 1.805vw, 25.992px);
}

.logo_img.boc {
  width: clamp(-99px, 18.527083vw, 266.79px);
  height: clamp(-99px, 2.083vw, 30px);
  margin: 0;
  margin-left: clamp(-99px, 0.6944vw, 9.99px);
}

.company_text.boc {
  margin-top: clamp(-99px, -0.76388vw, 10.99px);
}

.flex.company.creava {
  margin-top: clamp(-99px, 0.9027vw, 12.99px);
}

.logo_img.creava {
  width: clamp(1px, 8.611vw, 124px);
  height: clamp(1px, 3.9583vw, 57px);
  margin: 0;
  margin-left: clamp(1px, 5.625vw, 81px);
  margin-top: clamp(-99px, -0.4166vw, -5.99px);
}

.company_text.creava {
  width: clamp(-99px, 46.527vw, 669.98px);
}

.block.sucSak {
  margin-top: clamp(-99px, 0.4166vw, 5.99px);
}

.logo_img.sucSak {
  width: clamp(1px, 6.5972vw, 95px);
  height: clamp(1px, 1.4583vw, 21px);
  margin: 0;
}

.text_colon {
  font-size: clamp(1px, 1.1111vw, 16px);
  font-weight: 500;
  position: relative;
  top: clamp(-99px, -0.2083vw, -2.99px);
  left: clamp(-99px, 0.1388vw, 1.998px);
}

.link_sucSak {
  color: #000000;
  font-size: clamp(1px, 1.111vw, 16px);
  font-weight: 500;
  margin-left: clamp(-99px, 0.555vw, 7.992px);
}

.logo_img.quartet {
  width: clamp(1px, 7.1527vw, 103px);
  height: clamp(1px, 2.916vw, 42px);
  margin: 0;
  margin-left: clamp(1px, 6.805vw, 97.992px);
}

.explanation_block.quartet {
  margin-top: clamp(-99px, -0.76388vw, -10.99px);
}

.company_text.quartet {
  width: clamp(-99px, 46.5277vw, 669.99px);
}

/* ----- About Exhibitors セクション ----- */
.about_section {
  background-image: url("../img/Group\ 192.svg");
  background-position: left 0px top -27px;
  background-repeat: no-repeat;
  background-size: auto;
  /* aspect-ratio: 1491.72 / 517.01; */
  width: 100%;
}

.about_section_inner_content {
  width: 1000px;
  margin: 0 auto;
}

.title_content.about {
  text-align: center;
  /* width: 500px; */
  margin-top: 0px;
  padding-top: 17px;
}

.subTitle_text.about {
  margin-top: 8px;
  margin-right: 9px;
}

.line_left.about {
  position: relative;
  top: 1px;
  left: -29px;
}

.line_right.about {
  position: relative;
  left: 38px;
}

.flex.about {
  margin-top: 88px;
  margin-left: -114px;
}

.company_list {
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
}

.company_list.right {
  position: relative;
  left: 58px;
}

.junfudo_text_content {
  margin-top: 27px;
}

.junfudo_text {
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  padding-right: 20px;
}


/* *********** レスポンシブ *************** */
@media screen and (min-width: 1441px) {
  .title_content.pickUp {
    margin-top: 4.44vw;
  }
}

@media screen and (max-width: 1390px) {
  .logo_img {
    width: 13.437vw;
    height: 3.375vw;
    margin-top: 1.007vw;
    margin-left: 2.777vw;
  }

  .sub_title {
    margin-top: 2.086vw;
    margin-right: 0.277vw;
  }

  .main_visual_img_content {
    margin-top: 3.09vw;
  }

  .main_visual_img {
    width: 40%;
    height: auto;
    display: block;
    margin: auto;
  }

  .sub_visual_img {
    width: 37%;
    height: auto;
    display: block;
    margin: 25px auto 0px auto;
  }

  .date_content {
    margin-top: 0.719vw;
  }

  .locationText_content {
    margin-top: 0.2877vw;
  }

  .button_content {
    margin-top: 3.472vw;
  }

  .button_text {
    padding: 0.86vw 1.079vw 1.151vw 1.151vw;
  }

  .jizen_text {
    position: relative;
    left: 1.079vw;
  }

  .muryo_text {
    position: relative;
    left: 0.36vw;
  }

  .line_img {
    width: 4%;
    height: auto;
    position: relative;
    right: 0.36vw;
  }
}

@media screen and (max-width: 830px) {
  .link_text.oplan {
    position: relative;
    top: -0.00008433vw;
  }

  .block.sucSak {
    margin-top: -0.602409vw;
  }

  .flex.company.quartet {
    margin-top: 1.56626vw;
  }
}

@media screen and (max-width: 700px) {
  .explanation_content.gouka {
    margin-top: -0.57vw;
  }

  .explanation_img.gouka {
    margin-top: 0.57vw;
  }
}

@media screen and (max-width: 680px) {
  .flex.company {
    margin-top: 1.1764vw;
  }

  .logo_img_content {
    margin-top: -0.44117vw;
  }

  .logo_img.oplan {
    position: relative;
    top: -0.58823vw;
  }

  .link_text.oplan {
    position: relative;
    top: -1.02941vw;
  }

  .logo_img.quartet {
    position: relative;
    top: 0.58823vw;
  }
}

@media screen and (max-width: 580px) {
  .fv_section {
    background-image: url("../img/sp/Group\ 184.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 780 / 924;
    height: 100vw;
    width: 100%;
  }

  .logo_img {
    width: 76.8px;
    height: 19.93px;
    margin-top: 3.45vw;
    margin-left: 3.45vw;
  }

  .main_container {
    margin-top: 6.03vw;
    width: 310px;
  }

  .sub_title {
    font-size: 16px;
    margin-bottom: 4.83vw;
  }

  .main_visual_img {
    width: 302px;
    height: 145.61px;
    margin-bottom: 2.76vw;
  }

  .sub_visual_img {
    display: none;
  }

  .sub_visual_img_sp.hidden {
    display: inline-block;
    width: 257px;
    height: 24.15px;
    margin-top: 1.72vw;
  }

  .date_content {
    margin-bottom: 2.41vw;
  }

  .date_text,
  .timeStart_text,
  .timeEnd_text {
    font-size: 24.95px;
  }

  .dayOfWeek_text {
    font-size: 18.15px;
  }

  .locationText_content {
    margin-bottom: 14.31vw;
  }

  .kokusai_text,
  .hole_text {
    font-size: 15.88px;
  }

  .button_content {
    display: none;
  }

  /* --Freelance セクション */
  .freelance_section {
    background-image: url("../img/sp/Group_186.svg");
    height: 103.45vw;
    aspect-ratio: 390 / 418;
    margin-bottom: 800px;
  }

  .title_content {
    margin-top: 5.17vw;
  }

  .title_h2 {
    font-size: 26px;
  }

  .subTitle_text {
    font-size: 14px;
  }

  .summitDetailText_content {
    width: 50.86vw;
  }

  .summitText_content {
    display: none;
  }

  .summitDetail_text {
    font-size: 16px;
    line-height: 37px;
  }

  .side_button {
    display: none;
  }

  .title_content.summary {
    margin-top: 3.45vw;
  }

  .subTitle_text.event {
    font-size: 14px;
  }

  .summaryDetail_title {
    font-size: 15px;
    padding: 5px 8px 5px 8px;
  }

  .summaryDetail_content {
    margin-left: 3.45vw;
  }

  .summaryDetail_title {
    width: 100px;
  }

  .start_text {
    font-size: 14px;
  }

  .kaijou_text {
    display: none;
  }

  .end_text {
    display: none;
  }

  .jikan.hidden {
    display: inline-block;
    font-size: 14px;
    margin-left: 1.03vw;
  }

  .uketuke.hidden {
    display: block;
    font-size: 14px;
    margin-left: 2.76vw;
  }

  .border_dot {
    width: 347px;
    margin-left: auto;
    margin-right: auto;
  }

  .summaryDetail_detail.kokusai {
    display: none;
  }

  .summaryDetail_detail_sp.hidden {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-left: 2.07vw;
  }

  .summaryDetail_title.event {
    font-size: 14px;
  }

  .kigyou_text {
    font-size: 14px;
    font-weight: bold;
  }

  .bisines_text {
    display: none;
  }

  .bisines_text.hidden {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }

  .keiei_text {
    display: none;
  }

  .keieisya.hidden,
  .siritu.hidden {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }

  .mini_text {
    font-size: 14px;
    font-weight: 400;
    margin-left: 1.03vw;
  }

  .mini_text.eki {
    margin-left: 2.59vw;
  }

  .moyori_text {
    font-size: 14px;
    font-weight: bold;
  }

  .dot {
    width: 8px;
    height: 8px;
    margin-right: 0.69vw;
  }

  .map_content {
    display: none;
  }

  .iframe_content.hidden {
    display: block;
    width: 65.52vw;
    margin: 6.9vw auto 6.9vw;
  }

  .iframe_content.hidden iframe {
    width: 59.48vw;
    height: 34.48vw;
  }

  /* ---- コンテンツセクション ----- */
  .contents_section {
    width: 100vw;
    height: 199.49vw;
  }

  .line_left.contens {
    width: 5.13vw;
    margin-right: 7.69vw;
  }

  .line_right.contents {
    width: 5.13vw;
    margin-left: 7.69vw;
  }

  .event_text.contens {
    font-size: 3.59vw;
  }

  .flex {
    flex-direction: column;
    align-items: center;
  }

  .square {
    width: 86.15vw;
    height: 74.67vw;
    border-radius: 0.69vw;
  }

  .heading_text_content {
    width: 86.15vw;
    height: 11.29vw;
  }

  .heading_text {
    font-size: 4.75vw;
    margin-top: 2.31vw;
  }

  .fukidashi_text {
    font-size: 2.77vw;
  }

  .fukidashi_img {
    width: 45.75vw;
    height: 6.54vw;
  }

  .number_text {
    font-size: 9.51vw;
    font-weight: 600;
  }

  .explanation_text {
    font-size: 5.55vw;
  }

  .explanation_img {
    width: 67.34vw;
    height: 35.65vw;
  }

  /* ----- ピックアップセクション ----- */
  .side_bar {
    width: 10px;
    height: 655px;
  }

  .title_content.pickUp {
    margin-top: 6.55vw;
  }

  .event_text.pickUp {
    margin: 0 4.31vw 0 4.31vw;
  }

  .logo_img_content {
    margin-top: 2.75vw;
    margin-right: 5.172vw;
  }

  .company_text {
    font-size: 2.41vw;
    font-weight: 500;
    width: 58.27vw;
  }

  .logo_img.oplan {
    width: 12.67vw;
    height: 3.448vw;
  }

  .link_text.oplan {
    display: none;
  }

  .logo_img.peBank {
    width: 26.55vw;
    height: 2.186vw;
    position: relative;
    top: -1.724vw;
    left: -3.79vw;
  }

  .logo_img.boc {
    width: 30.66vw;
    height: 3.44vw;
    position: relative;
    top: -1.379vw;
    left: -3.1034vw;
  }

  .logo_img.creava {
    width: 21.37vw;
    height: 9.827vw;
    position: relative;
    left: -6.206vw;
    top: -2.6896vw;
  }

  .company_text.creava {
    width: 58.96vw;
    margin-top: -3.1034vw;
  }

  .block.sucSak {
    margin-left: 8.275vw;
    position: relative;
    top: 1.034vw;
  }

  .logo_img.sucSak {
    width: 13.27vw;
    height: 2.93vw;
  }

  .text_colon,
  .link_sucSak {
    font-size: 2.413vw;
    font-weight: 500;
  }

  .logo_img.quartet {
    width: 11.72vw;
    height: 4.827vw;
    position: relative;
    left: -1.724vw;
  }

  .company_text {
    margin-top: 2.758vw;
  }
}

@media screen and (max-width: 508px) {
  .freelance_section {
    margin-bottom: 900px;
  }
}

@media screen and (max-width: 520px) {
  .side_bar {
    height: 620px;
  }
}

@media screen and (max-width: 480px) {
  .side_bar {
    height: 580px;
  }
}

@media screen and (max-width: 437px) {
  .freelance_section {
    margin-bottom: 900px;
  }

  .side_bar {
    height: 540px;
  }
}

@media screen and (max-width: 390px) {
  .fv_section {
    height: 118.21vw;
  }

  .logo_img {
    margin-top: 3.08vw;
    margin-left: 3.08vw;
  }

  .main_container {
    width: 97.44vw;
    height: 92.31vw;
  }

  .sub_title {
    padding-top: 2.82vw;
    color: red;
  }

  .main_visual_img {
    padding-top: 1.03vw;
  }

  .sub_visual_img_sp.hidden {
    margin-top: 1.03vw;
  }

  .date_text,
  .dayOfWeek_text,
  .timeStart_text,
  .timeEnd_text {
    color: red;
  }

  .date_content {
    margin-top: 3.85vw;
    margin-right: 1.79vw;
  }
  .date_text {
    position: relative;
    left: 1.79vw;
  }
  .dayOfWeek_text {
    position: relative;
    left: 0.26vw;
  }
  .timeStart_text {
    position: relative;
    left: 0.26vw;
  }

  .kokusai_text,
  .hole_text {
    color: red;
  }
  .locationText_content {
    margin-top: -1.79vw;
  }

  .kokusai_text {
    position: relative;
    left: 0.51vw;
  }
  .hole_text {
    position: relative;
    right: 1.03vw;
  }

  /* フリーランスセクション */
  .title_h2,
  .line_left,
  .subTitle_text,
  .line_right,
  .summit_text,
  .summitDetail_text,
  .start_text,
  .jikan.hidden,
  .uketuke.hidden,
  .summaryDetail_detail_sp.hidden,
  .kigyou_text,
  .bisines_text.hidden,
  .keieisya.hidden,
  .siritu.hidden,
  .moyori_text,
  .mini_text,
  .line_left.event,
  .line_right.event {
    color: red;
  }

  .freelance_section {
    background-position: 0 -6.92vw;
    margin-bottom: 920px;
  }

  .main_container_freelance {
    width: 97.44vw;
    height: 339.23vw;
  }

  .title_content {
    /* background-color: rgb(193, 233, 233); */
    width: 94.87vw;
    text-align: center;
  }

  .title_h2 {
    margin-top: 1.79vw;
    margin-left: -1.03vw;
  }

  .subTitle_text {
    margin-top: 1.54vw;
    margin-left: 0.26vw;
  }

  .line_left,
  .line_right {
    width: 5.13vw;
  }

  .line_left {
    position: relative;
    top: -0.26vw;
    left: -2.05vw;
  }

  .line_right {
    position: relative;
    top: -0.26vw;
    left: 2.31vw;
  }

  .summitDetailText_content {
    width: 76.15vw;
    margin-top: 5.9vw;
  }

  .Summary_content {
    width: 97.44vw;
    height: 230.77vw;
  }

  .title_content.summary {
    margin-top: 7.95vw;
    margin-left: 1.28vw;
  }

  .subTitle_text.event {
    margin-top: 1.54vw;
    margin-left: 0.26vw;
  }

  .line_left.event {
    position: relative;
    left: -2.56vw;
  }

  .line_right.event {
    position: relative;
    left: 2.05vw;
  }

  .summaryDetail_content {
    background-color: rgb(182, 252, 252);
    margin-top: 5.64vw;
  }

  .summaryDetail_title {
    padding: 1.54vw 0.77vw 1.28vw 0.77vw;
  }

  .start_text {
    position: relative;
    top: 0.77vw;
    left: 4.62vw;
  }

  .jikan.hidden {
    position: relative;
    top: 1.03vw;
    left: 3.59vw;
  }

  .uketuke.hidden {
    position: relative;
    top: 3.85vw;
    left: 4.1vw;
  }

  .border_dot {
    margin-top: 6.41vw;
  }

  .summaryDetail_content.kaijou {
    position: relative;
    top: 0.26vw;
  }

  .summaryDetail_detail_sp.hidden {
    margin-left: 4.62vw;
  }

  .border_dot.event {
    margin-top: 3.59vw;
  }

  .summaryDetail_content.event {
    margin-top: 0.51vw;
  }

  .kigyou_text {
    position: relative;
    top: 0.77vw;
    left: 2.82vw;
  }

  .bisines_text.hidden {
    position: relative;
    top: 1.54vw;
    left: 2.82vw;
  }

  .border_dot.busu {
    margin-top: 5.13vw;
  }

  .summaryDetail_content.taishou {
    margin-top: 1.28vw;
  }

  .keieisya.hidden {
    position: relative;
    top: 2.31vw;
    left: 2.82vw;
  }

  .syasen_left_sp {
    position: relative;
    left: 1.03vw;
  }

  .freelance_sp {
    position: relative;
    left: 1.79vw;
  }

  .syasen_right_sp {
    position: relative;
    left: 2.56vw;
  }

  .siritu.hidden {
    position: relative;
    top: 4.87vw;
    left: 2.82vw;
  }

  .border_dot.taishou {
    margin-top: 7.44vw;
  }

  .moyori_content {
    width: 233px;
  }

  .moyori_text {
    margin-top: 0.77vw;
    margin-left: 1.28vw;
  }

  .mini_text.title {
    margin-top: 1.28vw;
  }

  .dot.jr {
    position: relative;
    top: -0.51vw;
    left: -0.77vw;
  }

  .mini_text.eki {
    position: relative;
    left: 0.26vw;
  }

  .dot.tika {
    position: relative;
    left: -0.51vw;
  }

  .mini_text.title.tika {
    margin-top: 2.05vw;
  }

  .eki_text {
    margin-left: 1.28vw;
  }

  .koron {
    position: relative;
    left: -0.77vw;
  }

  .iframe_content.hidden {
    background-color: aquamarine;
    width: 92.31vw;
    height: 56.41vw;
    margin-top: 5.38vw;
    margin-left: 3.08vw;
  }

  .iframe_content.hidden iframe {
    width: 88.46vw;
    height: 51.28vw;
  }

  /* ******** コンテンツセクション ******* */
  .title_h2.contents {
    position: relative;
    top: 4.1vw;
    left: 3.08vw;
  }

  .line_left.contens {
    position: relative;
    top: 2.05vw;
    left: 4.87vw;
  }

  .event_text.contens {
    margin-top: 4.1vw;
    margin-left: 5.64vw;
  }

  .line_right.contents {
    position: relative;
    top: 2.05vw;
    left: 0px;
  }

  .square {
    margin-top: 1.03vw;
    width: 85.13vw;
    height: 74.1vw;
    border-radius: 1.54vw 1.54vw 2.56vw 2.56vw;
  }

  .heading_text_content {
    border-radius: 0.26vw 0 0 0;
    margin-top: -0.26vw;
  }

  .fukidashi_text {
    margin-right: 2.82vw;
    margin-top: 2.56vw;
  }

  .fukidashi_img {
    display: none;
  }

  .fukidashi_img.hidden {
    display: block;
    width: 45.75vw;
    height: 6.5358vw;
    margin-left: -1.54vw;
    margin-top: -0.51vw;
  }

  .explanation_content {
    margin-top: -2.56vw;
    margin-left: 1.03vw;
  }

  .number_text {
    display: inline-block;
    font-family: "Roboto";
    font-size: 9.507vw;
    font-weight: 600;
    font-style: italic;
    position: relative;
    left: -0.26vw;
  }

  .explanation_img {
    margin-top: 1.79vw;
    margin-left: -0.26vw;
  }

  .square.bottom {
    margin-top: 0.26vw;
  }

  .fukidashi_text.bottom {
    margin-left: 0.26vw;
  }

  .explanation_text {
    margin-left: -0.77vw;
  }

  .explanation_img.gouka {
    margin-top: 3.076vw;
    margin-left: 1.28vw;
  }

  /* ----- ピックアップセクション ----- */

  .side_bar {
    height: 202.56vw;
  }

  .center_content.pickUp {
    width: 94.87vw;
    margin-bottom: 5.128vw;
  }

  .title_content.pickUp {
    margin-top: 10vw;
    margin-left: 6.1538vw;
  }

  .subTitle_text.pickUp {
    margin-top: 2.307vw;
    margin-left: -0.769vw;
  }

  .line_left.pickUp {
    position: relative;
    left: -4.615vw;
  }

  .line_right.pickUp {
    position: relative;
    left: 4.615vw;
  }

  .logo_img_content {
    margin-top: 8.717vw;
    margin-left: -2.56vw;
  }

  .logo_img.oplan {
    width: 18.97vw;
    height: 5.128vw;
  }

  .explanation_block.oplan {
    margin-top: 1.28vw;
    margin-left: 3.0769vw;
  }

  .company_text.oplan {
    font-size: 3.589vw;
    width: 93.33vw;
    letter-spacing: 0.056em;
    line-height: 1.6em;
  }

  .logo_img_content.peBank {
    margin-left: -10.769vw;
    margin-top: 7.69vw;
  }

  .logo_img.peBank {
    width: 42.05vw;
    height: 3.33vw;
  }

  .explanation_block.peBank {
    margin-top: 1.79vw;
    margin-left: 3.0769vw;
    text-align: center;
  }

  .company_text.peBank {
    font-size: 3.589vw;
    width: 81.53vw;
    letter-spacing: 0.015em;
    line-height: 1.5em;
  }

  .logo_img_content.boc {
    margin-top: 7.179vw;
    margin-left: -14.87vw;
  }

  .logo_img.boc {
    width: 48.205vw;
    height: 5.128vw;
  }

  .explanation_block.boc {
    margin-top: 1.28vw;
    margin-left: 0.512vw;
  }

  .company_text.boc {
    font-size: 3.589vw;
    width: 90.769vw;
    letter-spacing: 0.056em;
    line-height: 1.5em;
  }

  .logo_img_content.creava {
    margin-top: 12.307vw;
    margin-left: -5.128vw;
  }

  .logo_img.creava {
    width: 34.358vw;
    height: 14.615vw;
  }

  .explanation_block.creava {
    margin-top: -0.512vw;
    margin-left: 0.769vw;
  }

  .company_text.creava {
    font-size: 3.589vw;
    width: 92.564vw;
    letter-spacing: 0.056em;
    line-height: 1.5em;
  }

  .block.sucSak {
    margin-top: 1.025vw;
    margin-left: 15.128vw;
  }

  .logo_img.sucSak {
    width: 21.28vw;
    height: 4.358vw;
  }
  .text_colon {
    font-size: 3.589vw;
  }

  .link_sucSak {
    font-size: 3.589vw;
    margin-left: 1.538vw;
    letter-spacing: 0.03em;
  }

  .logo_img_content.quartet {
    margin-top: 10.256vw;
    margin-left: -9.23vw;
  }

  .logo_img.quartet {
    width: 28.97vw;
    height: 10.769vw;
  }

  .explanation_block.quartet {
    margin-top: 0.256vw;
    text-align: center;
  }

  .company_text.quartet {
    font-size: 3.589vw;
    width: 92.564vw;
    letter-spacing: 0.056em;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 375px) {
  .freelance_section {
    margin-bottom: 950px;
  }
}
