html {
  font-family: "Noto Sans JP", "Roboto", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.englich-text {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ----- メインビジュアル ----- */
.kv_content {
  background-image: url("../img/Group_183.png");
  height: 840px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo_img {
  width: 186.78px;
  height: 48.6px;
  margin-top: 14px;
  margin-left: 40px;
}

.main_container {
  /* background-color: rgb(238, 233, 228); */
  width: 960px;
  margin: 0 auto;
}

.sub_title {
  margin-top: 29px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-right: 4px;
  color: #fff;
}

.main_visual_img_content {
  text-align: center;
  margin-top: 43px;
}

.main_visual_img {
  width: 562px;
  height: 256.24px;
}

.sub_visual_img {
  width: 517px;
  height: 56.34px;
  margin-top: 25px;
}

.sub_visual_img_sp.hidden {
  display: none;
}

.date_content {
  text-align: center;
  margin-top: 10px;
  padding-left: -1px;
}

.date_text,
.timeStart_text,
.timeEnd_text {
  font-family: "Roboto";
  font-size: 45.87px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.dayOfWeek_text {
  font-family: "Roboto";
  font-size: 33.36px;
  font-weight: 700;
  margin-left: 11px;
  margin-right: 4px;
  color: #fff;
}

.timeStart_text {
  letter-spacing: -0.03em;
}

.locationText_content {
  text-align: center;
  margin-top: 4px;
}

.kokusai_text,
.hole_text {
  font-size: 29.19px;
  font-weight: bold;
  color: #fff;
}

.hole_text {
  margin-left: 13px;
}

/* ----- ﾎﾞﾀﾝ ----- */
.button_content {
  text-align: center;
  margin-top: 50px;
}

.button_text {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  padding: 12px 15px 16px 16px;
  background-color: #06c755;
  border: solid 2px #fff;
  border-radius: 33px;
}

.jizen_text {
  position: relative;
  left: 15px;
}

.muryo_text {
  position: relative;
  left: 5px;
}

.line_img {
  width: 57px;
  height: 57px;
  vertical-align: middle;
  position: relative;
  right: 5px;
}
/* ----------- */

@media screen and (max-width: 1000px) {
  .main_container {
    width: 570px;
  }
}

@media screen and (max-width: 580px) {
  .kv_content {
    height: 461px;
  }

  .logo_img {
    width: 76.6px;
    height: 19.93px;
    margin-top: 12px;
    margin-left: 12px;
  }

  .main_container {
    width: 330px;
  }

  .sub_title {
    margin-top: 34px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-right: 1px;
  }

  .main_visual_img_content {
    text-align: center;
    margin-top: 23px;
  }

  .main_visual_img {
    width: 302px;
    height: 145.61px;
  }

  .sub_visual_img {
    display: none;
  }

  .sub_visual_img_sp.hidden {
    display: inline-block;
    width: 257px;
    height: 24.15px;
    margin-top: 11px;
  }

  .date_content {
    margin-top: 14px;
    padding-left: 0px;
  }

  .date_text,
  .timeStart_text,
  .timeEnd_text {
    font-size: 24.95px;
  }

  .date_text {
    position: relative;
    left: 2px;
  }

  .dayOfWeek_text {
    font-size: 18.15px;
    position: relative;
    right: 2px;
  }

  .timeStart_text {
    position: relative;
    right: 3px;
  }

  .timeEnd_text {
    position: relative;
    right: 3px;
  }

  .locationText_content {
    margin-top: 2px;
  }

  .kokusai_text,
  .hole_text {
    font-size: 15.88px;
  }

  .kokusai_text {
    margin-right: -6px;
  }

  .button_content {
    display: none;
  }
}
